* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

/* #region utility */

.debug {
    background-color: indigo;
}

.debug2 {
    background-color: fuchsia;
}

.debug3 {
    background-color: #ff0000;
    height: 100px;
    width: 100px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.flex_column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.space_between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

.align_center{
    align-items: center;
}


.col_1 {
    width: calc(100% / 12 *1);
}

.col_2 {
    width: calc(100% / 12 *2);
}

.col_3 {
    width: calc(100% / 12 *3);
}

.col_4 {
    width: calc(100% / 12 *4);
}

.col_5 {
    width: calc(100% / 12 *5);
}

.col_6 {
    width: calc(100% / 12 *6);
}

.col_7 {
    width: calc(100% / 12 *7);
}

.col_8 {
    width: calc(100% / 12 *8);
}

.col_9 {
    width: calc(100% / 12 *9);
}

.col_10 {
    width: calc(100% / 12 *10);
}

.col_11 {
    width: calc(100% / 12 *11);
}

.col_12 {
    width: calc(100% / 12 *12);
}

/* #endregion utility */


/* #region main */

.wrapper {
    height: calc(100vh - 100px);
}

/* menu */

.menu {
    background-color: #000000;
    color: #7d7f84;
    width: 230px;
    height: 100%;
    overflow: hidden;
}

.menu img:not(.logo) {
    margin: 10px 10px 10px 20px;
    width: 15%;    
}

.logo{
    margin: 20px;
    width: 60%;
}

.home{
    border-left: 3px solid #adff2f ;
    color: white;
}



/* app_main */

.app_main {
    background-color: #141922;
    width: calc(100% - 230px);
    height: 100%;
    overflow: auto;
}

.upgrade {
    background-color: #000000a8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: right;
    width: 100%;
}

.upgrade_btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    margin: 30px;
    border-radius: 20px;
    font-size: 14px;
}

.categories {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.categories a {
    text-decoration: none;
    color: #7d7f84;
    font-weight: bold;
    font-size: 14px;
    margin: 0 10px;
}

.selection {
    border-bottom: 1px solid #adff2f;
}

.app_main h2,
p {
    margin: 15px;
}

.app_main h2 {
    color: white;
}

.app_main p {
    color: #7d7f84;
}

.app_main .album {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 15px 0 6px 0;
}

.app_main .brano {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #7d7f84;
}

.card {
    margin: 15px;
    text-align: center;
}

.round_img {
    border-radius: 50%;
}

/* #endregion main */


/* #region footer */

#site_footer {
    background-color: #282828;
    height: 100px;
    color: white;
}

.left_controller,
.central_controller,
.right_controller {
    height: 100px;
}

/* left controller */

.player img {
    height: 50%;
    margin-left: 10px;
}

.left_controller>.info {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.left_controller i {
    margin-left: 15px;
}

.left_controller a {
    text-decoration: none;
    color: white;
}

.left_controller .brano,
i {
    color: #5a5a5a;
}

/* /left controller */

/* central controller */

.central_controller i {
    color: white;
    margin: 10px 15px;
}

.fa-circle-play {
    font-size: 32px;
}

.controller_top {
    width: 100%;
}

.controller_bot {
    margin-bottom: 20px;
    font-size: 12px;
}

.time_bar {
    background-color: #5a5a5a;
    width: 430px;
    height: 4px;
    border-radius: 10px;
    margin: 0 20px;
}

.time_layer {
    background-color: #c1c1c1;
    width: 85px;
    height: 4px;
    border-radius: 10px;
}

/* /central controller */

/* right controller */

.right_controller i {
    color: white;
    margin-right: 15px;
}

.volume_bar {
    background-color: #5a5a5a;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    margin-right: 10px;
}

.volume_layer {
    background-color: #c1c1c1;
    width: 24px;
    height: 4px;
    border-radius: 10px;
}

/* /right controller */


/* #endregion footer */


/* #region media queries */

@media screen and (max-width: 640px){
    .flex_column_sm{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
}


/* #endregion media queries */