* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

/* #region utility */

.debug {
    background-color: indigo;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.space_between {
    justify-content: space-between;
}

.center {
    justify-content: center;
    align-items: center;
}

.align_center {
    align-items: center;
}

.end {
    align-items: flex-end;
}

.relative {
    position: relative;
    top: 0;
    left: 0;
}

.col_1 {
    width: calc(100% / 12 * 1);
}

.col_2 {
    width: calc(100% / 12 * 2);
}

.col_3 {
    width: calc(100% / 12 * 3);
}

.col_4 {
    width: calc(100% / 12 * 4);
}

.col_5 {
    width: calc(100% / 12 * 5);
}

.col_6 {
    width: calc(100% / 12 * 6);
}

.col_7 {
    width: calc(100% / 12 * 7);
}

.col_8 {
    width: calc(100% / 12 * 8);
}

.col_9 {
    width: calc(100% / 12 * 9);
}

.col_10 {
    width: calc(100% / 12 * 10);
}

.col_11 {
    width: calc(100% / 12 * 11);
}

.col_12 {
    width: calc(100% / 12 * 12);
}

/* #endregion utility */


/* #region main */

.wrapper {
    height: calc(100vh - 100px);
}

/* menu */

.menu {
    background-color: #000000;
    color: #717171;
    font-weight: bold;
    width: 230px;
    height: 100%;
    overflow: hidden;
}

.menu_top img:not(.logo) {
    margin: 10px 10px 10px 20px;
    width: 15%;
}

.logo_xsm {
    display: none;
}

.logo {
    margin: 20px;
    width: 60%;
}

.home {
    border-left: 3px solid #adff2f;
    color: white;
}

.icon {
    filter: invert(50%);
}

.menu h4 {
    margin: 20px 10px 10px 20px;
    color: white;
}

.fa-plus {
    background-color: #a3a3a3;
    color: black;
    font-size: 30px;
    padding: 10px;
    margin: 0 10px 0 20px;
}

.playlists {
    margin: 20px 10px 10px 20px;
}

.menu_bot {
    margin: 10px 20px;
}

.install {
    border-bottom: 1px solid #717171;
}

.menu_bot img {
    margin: 10px 10px 10px 0;
    width: 15%;
}

.install img {
    filter: invert(50%);
}

.user {
    color: white;
}

.user img {
    background-color: #808080;
    border-radius: 50%;
}

/* app_main */

.app_main {
    background-color: #141922;
    width: calc(100% - 230px);
    height: 100%;
    overflow: auto;
}

.upgrade {
    background-color: #000000a8;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align: right;
    width: 100%;
}

.upgrade_btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 40px;
    margin: 30px;
    border-radius: 20px;
    font-size: 14px;
}

.categories {
    text-align: center;
    width: 100%;
    margin: 20px 0;
}

.categories a {
    text-decoration: none;
    color: #7d7f84;
    font-weight: bold;
    font-size: 14px;
    margin: 0 10px;
}

.selection {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #adff2f;
    height: 2px;
    width: 30px;
}

.app_main h2,
p {
    margin: 15px;
}

.app_main h2 {
    color: white;
}

.app_main p {
    color: #7d7f84;
}

.app_main .album {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin: 15px 0 6px 0;
}

.app_main .brano {
    display: inline-block;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #7d7f84;
}

.card {
    text-align: center;
    margin: 10px 15px;
}

.card img {
    z-index: 1;
}

.round_img {
    border-radius: 50%;
}


/* #endregion main */


/* #region footer */

#site_footer {
    background-color: #282828;
    height: 100px;
    color: white;
}

.left_controller,
.central_controller,
.right_controller {
    height: 100px;
}

/* left controller */

.player img {
    height: 50%;
    margin-left: 10px;
}

.left_controller>.info {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
}

.left_controller i {
    margin-left: 15px;
}

.left_controller a {
    text-decoration: none;
    color: white;
}

.left_controller .brano,
i {
    color: #5a5a5a;
}

/* /left controller */

/* central controller */

.central_controller i {
    color: white;
    margin: 10px 15px;
}

.controller_top .fa-circle-play {
    font-size: 32px;
}

.controller_top {
    width: 100%;
}

.controller_bot {
    margin-bottom: 20px;
    font-size: 12px;
}

.time_bar {
    background-color: #5a5a5a;
    width: 25vw;
    height: 4px;
    border-radius: 10px;
    margin: 0 20px;
}

.time_layer {
    background-color: #c1c1c1;
    width: 6vw;
    height: 4px;
    border-radius: 10px;
}

.dot{
    position: absolute;
    top: -170%;
    left: 21%;
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    opacity: 0;
}

/* /central controller */

/* right controller */

.right_controller i {
    color: white;
    margin-right: 15px;
}

.volume_bar {
    background-color: #5a5a5a;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    margin-right: 10px;
}

.volume_layer {
    background-color: #c1c1c1;
    width: 24px;
    height: 4px;
    border-radius: 10px;
}

/* /right controller */


/* #endregion footer */


/* #region hover effects */

.play_hover {
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: 0;
}

.relative:hover .play_hover {
    opacity: 4;
}

.relative:hover .cover {
    filter: brightness(50%);
}

.relative:hover {
    cursor: pointer;
}

.playlists:hover {
    color: white;
    cursor: pointer;
}

.brano:hover {
    color: white;
}

a:hover {
    color: white;
}

#site_footer i:hover {
    color: white;
}

.add_playlist:hover {
    cursor: pointer;
    color: white;
}

.add_playlist:hover i {
    background-color: white;
}

.library:hover .icon {
    filter: none;
}

.library:hover span {
    color: white;
}

.library:hover {
    cursor: pointer;
}

.home:hover{
    cursor: pointer;
}

.search:hover .icon {
    filter: none;
}

.search:hover span {
    color: white;
}

.search:hover {
    cursor: pointer;
}

.install:hover img {
    filter: none;

}

.install:hover span {
    color: white;

}

.install:hover {
    cursor: pointer;

}

.user:hover {
    cursor: pointer;
}

.upgrade:hover .upgrade_btn{
    transform: scale(120%);
}

.controller_bot:hover .time_layer{
    background-color: #adff2f;
}

.controller_bot:hover .dot{
    opacity: 4;
}

.controller_bot:hover{
    cursor: pointer;
}

.volume:hover .volume_layer{
    background-color: #adff2f;
}

.volume:hover .dot{
    opacity: 4;
}

.volume:hover{
    cursor: pointer;
}

#play_btn:hover {
    transform: scale(140%);
}


/* #endregion hover effects */


/* #region media queries */

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 878px) {
    .col_md_3 {
        width: calc(100% / 12 * 3);
    }
}

@media screen and (max-width: 640px) {
    .flex_column_sm {
        display: flex;
        flex-direction: column;
    }

    .fa-list,
    .fa-display {
        display: none;
    }

    .col_md_6 {
        width: calc(100% / 12 * 6);
    }
}

@media screen and (max-width: 552px) {

    .flex_column_xsm {
        display: flex;
        flex-direction: column;
    }

    .menu {
        width: 50px;
    }

    .app_main {
        width: calc(100% - 50px);
    }

    .logo,
    .menu span,
    .menu h4,
    .playlists,
    .fa-plus,
    .volume_bar,
    .player img {
        display: none;
    }

    .home {
        border: none;
    }

    .menu_top img:not(.logo) {
        margin: 7px;
        width: 70%;
    }

    .menu_bot img {
        margin: 0 0;
    }

    .menu_bot {
        margin: 0 0;
    }

    .install {
        border: none;
    }

    .install img {
        width: 100%;
        margin-right: 7px;
    }

    .user img {
        width: 100%;
        margin: 7px;
    }

    .logo_xsm {
        margin-left: 20px;
    }

    .logo_xsm {
        display: block;
    }

    .right_controller i{
        margin: 0 0;
    }

    .fa-volume-high {
        padding: 30px;
    }

}

@media screen and (max-height: 600px) {
    .upgrade {
        display: none;
    }
}

/* #endregion media queries */